html, body {
    height: 100%;
}

body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #31F586;
}

p {
    font-size: 16px;
}

a {
    color: #FF1E07;
}

#logo, .project-img {
    max-height: 300px;
}

#fork img{
    height: 25px;
    margin-bottom: 25px;
    filter: invert(1);
}

#sep {
    height: 75px;
}

.margin {
    margin-bottom: 45px;
}

.bg-1 {
    background-color: #ffffff; /* White */
    color: #555555;
}

.card {
    color: black;
    text-align: left;
}

.card-title {
    font-weight: 700;
}

.container-fluid {
    padding-top: 50px;
    padding-bottom: 50px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    transition: width 2s;
    transition-timing-function: ease;
}

.nav-link:hover {
    font-size: 30px;
}

.navbar-nav li a:hover {
    color: #2e72a1 !important;
}

.darkening-green {
    background-color: #001e00
}

.logo-color {
    background-color: #3da200
}

.mid-color {
    background-color: #005a00
}

.footer-color {
    background-color: #434b3e
}
